<style>
body {
    background-color: #6f42c1;
    color: white;
}
.jumbotron {
    background-color: #6f42c1;
    color: white;
    padding: 2rem 1rem;
}
.navbar {
    background-color: #512da8;
}
.btn-reserve {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin-top: 10px;
}
.reserve-container {
    text-align: center;
    border: 2px solid;
    padding: 15px;
    display: inline-block;
    margin-top: 20px;
}

body {
    font-family: Arial, sans-serif;
}
.banner {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    margin: 40 0;
    text-align: right;
}
.banner h2 {
    color: black;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.banner h3 {
    color: black;
    font-size: 1.8em;
    margin-bottom: 15px;
}
.banner p {
    font-size: 1.2em;
    color: #333;
}
.btn-reserve {
    background-color: #5cb85c;
    color: ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}
   
.text-right{ 
    color: red; 
}

.btn-social-icon {
    font-size: 1.5em;
}
</style>